{% extends 'products/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    New computer games, different genres and unforgettable emotions can be purchased in this game store!
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        You are welcome
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock %}
